{% extends 'base.html' %}
{% load static %}
{% block styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
 
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <br><br>
  <div class="row">
    {% if projects %}
      <h2>Found {{ projects|length }} project(s) with that title</h2>
    {% else %}
      <h2> Found 0 projects for the search term {{message}}</h2>
    {% endif %}

  </div>
   <div class="row">
      {% if projects %}
      {% for project in projects %}
        <div class="col-sm-6 col-md-3">
            <a href="/viewproject/{{project.id}}"><h1>{{project.title}}</h1></a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{%endblock%}