h2{
    font-family: Tangerine,serif;
    text-align: center
}

img{
    width: 100%;
}
h3{
    font-family: Tangerine,serif;
}
a{
    color: whitesmoke;

}
button{
    margin-top: 10px;
}
.panel-footer{
    font-family: Tangerine,serif;
    font-size: 18px;
}


