{%extends 'base.html' %}
{% load static %}


{% block styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
 <link href="https://fonts.googleapis.com/css?family=Boogaloo|Fredoka+One|Lalezar|Patrick+Hand|Overlock" rel="stylesheet"> 
{% endblock %}

{% block content %}
<div class="jumbotron">
    <br><br><br><br><br><br>
<div class="container">
<div class="col-md-5">
{% if details.user_image %}  
<figure>
    <img src="{{details.user_image.url}}" id="me">
 
     <figcaption>{{details.user.username}}</figcaption>
     <figcaption>{{details.user.bio}}</figcaption>
    
</figure>
     {%else%}
    <figure>
   <img src="/static/img/avatar.png" class="img-circle">
    <figcaption>{{details.user.username}}</figcaption>
</figure>
    {% endif %}

    <button class="btn btn-info"><a href="{%url 'edit-detail'%}">Edit Details</a></button>
 </div>
</div>
</div>
<blockquote>{{details.bio}}</blockquote>
 {% for project in projects %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="item">
<a href="/viewproject/{{project.id}}"><img src="{{project.project_img.url}}" class="img-responsive" id="zote"><p class="view">View Project</p></a> 
  </div>
    </div>

{% endfor%}


{% endblock%}